<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>

    <%- include('../partials/nav') %>

    <form action="/auth/sign-up" method="POST">
        <label for="firstname">First name:</label>
        <input type="text" name="firstname" id="firstname" autocomplete="off"/>
        <label for="lastname">Last name:</label>
        <input type="text" name="lastname" id="lastname" autocomplete="off"/>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" autocomplete="off"/>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" autocomplete="off"/>
        <label for="confirmPassword">Confirm password:</label>
        <input type="password" name="confirmPassword" id="confirmPassword" autocomplete="off"/>
        <button type="submit">Sign up</button>
      </form>
</body>
<%- include('../partials/footer') %>
</html>