<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greatreads</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"></head>
</head>
<body>
  <div id="page-wrapper">
    <%- include('./partials/nav') %>
    <section id="hero">
        <div id="headers">
          <h1 class="header-text" id="top-header">Explore inspiring texts.</h1>
          <h2 class="header-text">Create your own shelf to track your reading.</h2>
        </div>

        <input id="search" type="text" placeholder="Search texts..."/>

        <div class="trending">
          <b>Trending searches:</b>
          <p id="fiction">Fiction</p>
          <p id="memoir">Memoir</p>
          <p id="shakespeare">Shakespeare</p>
          <p id="criticism">Criticism</p>
        </div>
      </section>
      <section class="news-row">
        <article>
          <h2>Lorem Ipsum</h2>
          <h3 class="quotetext"><i>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</i></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nisl, luctus vel efficitur vitae, pharetra et nunc. Cras orci orci, fringilla vel nisi eget, cursus tincidunt turpis. Vestibulum suscipit eros vel mauris lacinia elementum. Proin vel auctor justo. Nunc porttitor feugiat urna, non efficitur tortor vestibulum eu. Pellentesque eu egestas nunc. Integer ut erat dignissim, condimentum neque at, hendrerit purus. Aenean non suscipit mauris. Duis ac mi rhoncus, commodo dui quis, aliquet felis. Mauris fringilla magna ante. Aliquam eu laoreet odio.
          <br><br><a class="readmore" href="/">Read more</a>
          </p>
          </article>
          
          <article>
          <h2>Pellentesque eros orci</h2>
          <p>Donec a dolor aliquet, porttitor libero non, dictum felis. Cras sit amet nunc ut purus molestie porttitor ut a nibh. Praesent sollicitudin lacus id convallis condimentum. Praesent non orci eget dui maximus condimentum vitae non purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus volutpat mi quis nisl condimentum feugiat. Morbi vel posuere odio. Pellentesque eu volutpat nulla. Sed ultricies, libero eget aliquam convallis, mi felis pulvinar odio, id aliquam elit purus nec est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi tempus purus id nulla mattis placerat. Sed ipsum nulla, cursus id lacus cursus, porttitor hendrerit elit. Aliquam suscipit aliquam ante, eget faucibus nulla tincidunt id. Sed ac est ac magna elementum suscipit eget sed lorem.
          <br><br><a class="readmore" href="/">Read more</a>
          </p>
          </article>
      </section>
      <section class="news-row">
        <article>
          <h2>Marcel Proust serpens</h2>
          <img class="article-image" src="https://bookaroundthecorner.com/wp-content/uploads/2022/12/proust_affiche_expo_bnf.jpg" alt="Promotional image for the Marcel Proust exhibition.">
          <p>Curabitur et orci sagittis, maximus metus tristique, tempor magna. Quisque vitae dui sagittis nunc blandit rhoncus. Proin vitae eleifend ipsum, eget elementum metus. Curabitur sagittis felis vitae enim vestibulum, id tristique lacus faucibus. In ac tortor eget nunc pharetra vulputate nec id nisi. Sed congue magna massa, sit amet fermentum neque facilisis in. Aliquam dictum sapien quis rhoncus tempor. Curabitur semper elit at tellus efficitur, non iaculis nisl sollicitudin. In euismod nisl nisl, ut laoreet turpis dignissim ut. Nulla tempor fermentum massa, id fermentum metus accumsan at. Integer vehicula enim a libero porttitor feugiat. Integer molestie eget risus vitae porttitor.
            
          Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer id tellus in sapien posuere tristique cursus et lorem. Pellentesque diam lectus, consectetur quis nibh eu, congue ornare nulla. 
          <br><br><a class="readmore" href="/">Read more</a>
          </p>
          </article>
          </section>
        </div>
</body>
<%- include('./partials/footer') %>
</html>