<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greatreads</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"></head>
</head>
<body>
    <%- include('./partials/nav') %>
    <section id="hero">
        <div id="headers">
          <h1 class="header-text" id="top-header">Explore inspiring texts.</h1>
          <h2 class="header-text">Create your own shelf to track your reading.</h2>
        </div>
        <input id="search" type="text" placeholder="Search texts..."/>
        <div class="trending">
          <b>Trending searches:</b>
          <p id="fiction">Fiction</p>
          <p id="memoir">Memoir</p>
          <p id="shakespeare">Shakespeare</p>
          <p id="criticism">Criticism</p>
        </div>
      </section>
</body>
</html>